@import "../tools/sassMagic";
@import "../acss/mp";
@import "../base/var";

@include b('SsHeaderBar') {
  background-color: rgba($color: $primary-color, $alpha: 0.9);
  height: 100%;
  color: white;
  overflow: hidden;
  box-sizing: border-box;
  @extend .f;
  align-items: center;
}
