@import "../tools/sassMagic";
@import "../acss/mp";

@include b('SsToggleScreen') {
  cursor: pointer;
  padding: 5px;

  &:hover {
    background-color: rgba($color: $primary-color, $alpha: 0.6);
  }
}
